<html>
<head>
    <meta charset="UTF-8">
    <title>0. Design</title>
	    <link rel="stylesheet" type="text/css" href="../css/tui-color-picker.css">
	    <link rel="stylesheet" type="text/css" href="../css/tui-image-editor.css">
    <style>
        @import url(<a href="http://fonts.googleapis.com/css?family=Noto+Sans);" target="_blank">http://fonts.googleapis.com/css?family=Noto+Sans);</a>
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
<div id="tui-image-editor-container"></div>
					<script type="text/javascript" src="../js/fabric.js"></script>
					<script type="text/javascript" src="../js/tui-code-snippet.min.js"></script>
					<script type="text/javascript" src="../js/tui-color-picker.js"></script>
					<script type="text/javascript" src="../js/FileSaver.min.js"></script>
					<script src="../js/tui-image-editor.js"></script>
<!-- <script type="text/javascript" src="./js/theme/white-theme.js"></script>
<script type="text/javascript" src="./js/theme/black-theme.js"></script> -->
					<script>
				    // Image editor
				    var imageEditor = new tui.ImageEditor('#tui-image-editor-container', {
				        includeUI: {
				            loadImage: {
				                path: '../images/cards/선물상자2.png',
				                name: 'SampleImage'
				            },
				            //  theme: blackTheme, // or whiteTheme
				            initMenu: 'filter',
				            menuBarPosition: 'bottom'
				        },
				        cssMaxWidth: 700,
				        cssMaxHeight: 500,
				        usageStatistics: false
				    });
				    window.onresize = function() {
				        imageEditor.ui.resizeEditor();
				    }
					</script>
</body>
</html>